# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec.bak

# Virtual env
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# PyInstaller
*.exe
*.app

# Cache
*.db

# Test artifacts
test_images/
test_report.html
ImageDedup/
